 {% extends 'main/base.html' %}
 {% load static %}
 {% block content%}
  <div class="row" >
<div class="col-md-6" >
    <div class="card card-body" >
        <p>Voulez-vous supprimer cette formation {{ f.name }}?</p>
            <form action="{% url 'delete_formation' f.id %}" method="POST"> 
                {% csrf_token %}
            <a href="{% url 'home' %} " class="btn btn-info"> cancel </a>
            <input type="submit" class="btn btn-primary" value="delete"> 
    </form>
         </div>
   </div>
</div>

 {% endblock %}